*{
    margin: 10px;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    /* color: aqua; */
    background-color: aliceblue;
    

}
h1,h2,h3{
    text-align: center;

}
#about{
   background-color: chartreuse;
   
}